# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'wingz-ride-management'
primary_region = 'sjc'  # Change to your preferred region

[build]
  dockerfile = 'Dockerfile.production'

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'
  DJANGO_SETTINGS_MODULE = 'config.settings_production'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "30s"
  interval = "15s"
  method = "GET"
  timeout = "10s"
  path = "/api/"

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
  processes = ['app']
